<!--
    https://www.koderhq.com/tutorial/vue/http-fetch/
    https://serversideup.net/sending-post-put-and-patch-requests-with-fetch-api-and-vuejs/
-->


<template>
    <div id="div_form_incluir">
        <form @submit.prevent="incluirPessoa" id="meuformulario">
            <p>
                Nome: <input type=" text" id="nome" v-model="dados.nome">
            </p>
            <p>
                Email: <input type="email" id="email" v-model="dados.email">
            </p>
            <p>
                Telefone: <input type="text" id="telefone" v-model="dados.telefone">
            </p>
            <button>Incluir!</button>
        </form>
        <input v-model="mensagem">
    </div>
</template>
  
<script src="../scripts/incluir_pessoa_local_server.js"></script>

<style>
#div_form_incluir {
    background-color: lightgray;
}
</style>