<!--
    https://www.educative.io/answers/how-to-make-http-requests-in-vuejs-using-fetch-api
-->

<template>
    <div>
        <button @click="getPessoas">Obter pessoas</button>
        <div v-if="pessoas.length">
            <div class="card" 
            v-for="p in pessoas" 
            :key="p.id">
                <strong>Nome: {{ p.nome }}</strong><br />
                <small>Email: {{ p.email }}</small><br />
                <small>Telefone: {{ p.telefone }}</small>
            </div>
        </div>
        <p v-if="error">{{ error }}</p>
    </div>
</template>
  
<script src="../scripts/RequisicaoHTTP_pessoas_local_server.js"></script>
