<!--
    https://stackoverflow.com/questions/65944495/vue3-vue-warn-property-was-accessed-during-render-but-is-not-defined
-->
<template>
    <div 
    v-for="item in boardFields" 
    :key="item.number">
        {{ item.number }}
    </div>
</template>

<script>
export default {
    data() {
        return {
            boardFields: [],
        };
    },
    mounted() {
        this.boardFields = [...Array(9)].map((_, i) => ({
            number: i + 1,
            isclicked: false,
        }));
    },
};
</script>