<template>
    <div>
        <h2>{{ categoria }}</h2>
    </div>
    <div v-for="item in pessoasBB" :key="item.id">
        {{ item.nome }}
    </div>
</template>

<script>
export default {
    props: ['categoria'],
    data() {
        return {
            pessoasBB: [],
        };
    },
    mounted() {
        this.pessoasBB.push({ id: 0, nome: 'Maria', email: 'ma@gmail.com' });
        this.pessoasBB.push({ id: 1, nome: 'João', email: 'jo@gmail.com' });
        this.pessoasBB.push({ id: 2, nome: 'Teresa', email: 'te@gmail.com' });
    }
};
</script>