<!--
    https://www.educative.io/answers/how-to-make-http-requests-in-vuejs-using-fetch-api
-->

<template>
    <div>
        <button @click="getProducts">Get Products</button>
        <div v-if="products.length">
            <div class="card" 
            v-for="product in products" 
            :key="product.id">
                <strong>Name: {{ product.name }}</strong><br />
                <small>Color: {{ product.color }}</small><br />
                <small>Phantom value: {{ product.pantone_value }}</small>
            </div>
        </div>
        <p v-if="error">{{ error }}</p>
    </div>
</template>
  
<script src="../scripts/RequisicaoHTTP.js"></script>
