<template>
    <div 
    v-for="item in pessoasAA" 
    :key="item.id">
        {{ item.nome }}
    </div>
</template>

<script>
export default {
    data() {
        return {
            pessoasAA: [],
        };
    },
    mounted() {
        this.pessoasAA.push({ id: 0, nome: 'Maria', email: 'ma@gmail.com' });
        this.pessoasAA.push({ id: 1, nome: 'João', email: 'jo@gmail.com' });
        this.pessoasAA.push({ id: 2, nome: 'Teresa', email: 'te@gmail.com' });
    }
};
</script>