<!--
    para que esse script funcione, é preciso instalar:

    npm install -D vitest

-->

<script>

export default {

    data() {
        return {
            pessoas: [],
            error: null
        };
    },

    methods: {
        getPessoas: function () {
            fetch('http://localhost:5000/listar_pessoas')
                .then(response => response.json())
                .then(json => {
                    //console.log(json);
                    if (json.resultado == 'ok') {
                        this.pessoas = json.detalhes;
                    } else {
                        // está mascarando o erro, melhorar essa parte depois
                        this.pessoas = []
                    }
                })
                .catch(error => {
                    this.error = error;
                });
        }
    }
}
</script>

<template>
    
    <div class="m-3">
        <button @click="getPessoas">Listar as pessoas</button>
    </div>

    <div class="m-3">

        <div v-if="pessoas.length"> <!-- tem alguém na lista? -->

            <div class="card" style="width: 18rem;" v-for="p in pessoas" :key="p.id">
                <div class="card-body">
                    <!-- percorre a lista de pessoas -->
                    <strong>Nome: {{ p.nome }}</strong><br />
                    <small>Email: {{ p.email }}</small><br />
                    <small>Telefone: {{ p.telefone }}</small>
                </div>
            </div>
        </div>

        <p v-if="error">{{ error }}</p>
    </div>
</template >

<!--
    https://www.educative.io/answers/how-to-make-http-requests-in-vuejs-using-fetch-api
-->
