<script src="vue.js"></script>

<div id="app">
    {{ message }}
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        }
    })
</script>

<!--

    referência:
    https://v1.vuejs.org/guide/index.html

-->