<script src="vue.js"></script>

<div id="app">
  Digite algo e pressione enter:
  <!-- model attached to this input: newTodo
   when enter was leaved: execute addTodo
   -->
  <input v-model="newTodo" v-on:keyup.enter="addTodo">
  <ul>
    <!-- loop through "todos" -->
    <li v-for="todo in todos">
      <!-- display "text" propertie -->
      <span>{{ todo.text }}</span>
      <!-- button to exclude item: do "removeTodo" action -->
      <button v-on:click="removeTodo($index)">X</button>
    </li>
  </ul>
</div>

<script>
new Vue({
    el: '#app',
    data: {
      newTodo: '', // name of the component
      todos: [      // propertie with data
        { text: 'Add some todos' }
      ]
    },
    methods: {
      addTodo: function () {
        var text = this.newTodo.trim() // remove spaces
        if (text) {   // is there any text?
          this.todos.push({ text: text })  // add the item to the "todos"
          this.newTodo = ''  // empty the inputbox (var is attached to the input ;-)
        }
      },
      removeTodo: function (index) {
        this.todos.splice(index, 1)     //remove who is at the index
      }
    }
  })
  </script>