<script setup>
//import ListagemDePessoas from './components/ListagemDePessoas.vue'
import Form_Pessoa from './components/Form_Pessoa.vue';
</script>

<template>

  <!--
    <p>
      <h3>Aplicação de listagem de pessoas</h3>
    </p>
        
    <div class="container">
      <ListagemDePessoas />
    </div>
  -->

  <Form_Pessoa />
  
</template>

