<!-- 
 https://vuejs.org/guide/quick-start.html#using-vue-from-cdn
  -->

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="counter">
    Contador: {{ counter }}
</div>

<script>
    const Counter = {
        data() {
            return {
                counter: 0
            }
        }
    }

    Vue.createApp(Counter).mount('#counter')
</script>

<!-- 

referência para os exemplos:
https://vuejsbr-docs-next.netlify.app/guide/introduction.html#primeiros-passos

-->