<script src="https://unpkg.com/vue@next"></script>

<div id="counter">
    Contador: {{ counter }}
</div>

<script>
    const Counter = {
        data() {
            return {
                counter: 0
            }
        }
    }

    Vue.createApp(Counter).mount('#counter')
</script>

<!-- 

referência para os exemplos:
https://vuejsbr-docs-next.netlify.app/guide/introduction.html#primeiros-passos

-->