<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="counter">
    Contador: {{ counter }}
</div>

<script>
    const Counter = {
        data() {
            return {
                counter: 0
            }
        },
        mounted() {
            setInterval(() => {
                this.counter++
            }, 1000)
        }
    }

    Vue.createApp(Counter).mount('#counter')


</script>