<html>

<head>
    <meta charset="UTF-8">
</head>

<body>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <div id="event-handling">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Inverter Mensagem</button>
    </div>

    <script>
        const EventHandling = {
            data() {
                return {
                    message: 'Olá Vue.js!'
                }
            },
            methods: {
                reverseMessage() {
                    this.message = this.message
                        .split('')
                        .reverse()
                        .join('')
                }
            }
        }

        Vue.createApp(EventHandling).mount('#event-handling')
    </script>

</body>

</html>