<html>

<head>
    <meta charset="UTF-8">
</head>

<body>

    <script src="https://unpkg.com/vue@next"></script>

    <div id="two-way-binding">
        <p>{{ message }}</p>
        <input v-model="message" />
    </div>

    <script>
        const TwoWayBinding = {
            data() {
                return {
                    message: 'Olá Vue.js!'
                }
            }
        }

        Vue.createApp(TwoWayBinding).mount('#two-way-binding')
    </script>

</body>

</html>

<!--

referência:
https://vuejsbr-docs-next.netlify.app/guide/introduction.html#tratando-interacao-do-usuario

-->