<html>

<head>
    <meta charset="UTF-8">
</head>

<body>

    <script src="https://unpkg.com/vue@next"></script>

    <div id="conditional-rendering">
        <button v-on:click="inverseDisplay">exibir ou ocultar</button>
        <span v-if="mostrar">Agora você me viu</span>
    </div>

    <script>
        const ConditionalRendering = {
            data() {
                return {
                    mostrar: false
                }
            },
            methods: {
                inverseDisplay() {
                    this.mostrar = !this.mostrar;
                }
            }
        }

        Vue.createApp(ConditionalRendering).mount('#conditional-rendering')
    </script>

</body>

</html>

<!-- 

referência:
https://vuejsbr-docs-next.netlify.app/guide/introduction.html#tratando-interacao-do-usuario

-->