<html>

<head>
    <meta charset="UTF-8">
</head>

<body>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="list-rendering">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <script>
        const ListRendering = {
            data() {
                return {
                    todos: [
                        { text: 'Aprender JavaScript' },
                        { text: 'Aprender Vue' },
                        { text: 'Criar algo incrível' }
                    ]
                }
            }
        }

        Vue.createApp(ListRendering).mount('#list-rendering')
    </script>

</body>

</html>

<!-- 

referência:
https://vuejsbr-docs-next.netlify.app/guide/introduction.html#condicionais-e-repeticoes

-->