<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <script src="https://unpkg.com/vue@next"></script>

    <div id="todo-list-app">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>

    <script>
        const TodoItem = {
            props: ['todo'],
            template: `<li>{{ todo.text }}</li>`
        }

        const TodoList = {
            data() {
                return {
                    groceryList: [
                        { id: 0, text: 'Vegetais' },
                        { id: 1, text: 'Queijo' },
                        { id: 2, text: 'Qualquer outra coisa que humanos podem comer' }
                    ]
                }
            },
            components: {
                TodoItem
            }
        }       

        const app = Vue.createApp(TodoList)
        app.mount('#todo-list-app')       
    </script>
</body>

</html>

<!-- 

referência:
https://vuejsbr-docs-next.netlify.app/guide/introduction.html#composicao-com-componentes

-->