<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="todo-list-app">
        <ol>
            <!-- loop through groceryList; 
             in this tag "my-todo-item" we have a propertie called "todo", lets 
             attach it with the "item" that is the variable which is being looped.
             This variable ar itens of "groceryList", they have "id" and "text".
             Lets associate the id with the key ("v-bind.key")
            -->
            <my-todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </my-todo-item>
        </ol>
    </div>

    <script>
        // defining properties of which will be a new component!!
        const MyTodoItem = {
            props: ['todo'], // a propertie called "todo"
            template: `<li>{{ todo.text }}</li>`
        }

        const TodoList = {
            data() {
                return {
                    groceryList: [
                        { id: 0, text: 'Vegetais' },
                        { id: 1, text: 'Queijo' },
                        { id: 2, text: 'Qualquer outra coisa que humanos podem comer' }
                    ]
                }
            },
            components: {
                // Registra um novo componente
                // o nome da TAG será: my-todo-item
                // (separa as palavras pesa capitalização das letras!!! mucho loko!)
                MyTodoItem
            }
        }       

        const app = Vue.createApp(TodoList)
        app.mount('#todo-list-app')       
    </script>
</body>

</html>

<!-- 

referência:
https://vuejsbr-docs-next.netlify.app/guide/introduction.html#composicao-com-componentes

-->