<html>

<head>
    <meta charset="UTF-8">
</head>

<body>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <div id="todo-list-app">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
        <ol>
            <todo-item v-for="item in plantas" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>

    <div id="lista-de-carros">
        <ul>
            <todo-item v-for="item in carros" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ul>
    </div>
    CHECK the error in the JS inspector window :-)

    <script>
        const TodoItem = {
            props: ['todo'],
            template: `<li>{{ todo.text }}</li>`
        }

        const TodoList = {
            data() {
                return {
                    groceryList: [
                        { id: 0, text: 'Vegetais' },
                        { id: 1, text: 'Queijo' },
                        { id: 2, text: 'Qualquer outra coisa que humanos podem comer' }
                    ],
                    carros: [
                        {id: 0, text: 'fox'},
                        {id: 1, text: 'ka'},
                        {id: 2, text: 'saveiro'}
                    ]
                }
            },
            components: {
                TodoItem
            }
        }              

        const app = Vue.createApp(TodoList)
        app.mount('#todo-list-app')
        const app2 = Vue.createApp(TodoList)
        app2.mount('#lista-de-carros')
        
    </script>

</body>

</html>

<!-- 

referência:
https://vuejsbr-docs-next.netlify.app/guide/introduction.html#composicao-com-componentes

-->