<html>

<head>
    <meta charset="UTF-8">
</head>

<body>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="todo-list-app">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
        <ol>
            <todo-item v-for="item in plantas" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>

    <div id="lista-de-carros">
        <ul>
            <todo-item v-for="item in carros" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ul>
    </div>

    <div id="lista-de-pessoas">
        <ul>
            <componente-lista-pessoas v-for="item in pessoas" v-bind:todo="item" v-bind:key="item.id">
            </componente-lista-pessoas>            
        </ul>
    </div>

    <script>
        const TodoItem = {
            props: ['todo'],
            template: `<li>{{ todo.text }}</li>`
        }

        // APP 1
        const TodoList = {
            data() {
                return {
                    groceryList: [
                        { id: 0, text: 'Vegetais' },
                        { id: 1, text: 'Queijo' },
                        { id: 2, text: 'Qualquer outra coisa que humanos podem comer' }
                    ],
                    plantas: [
                        { id: 0, text: 'Ipê'},
                        { id: 1, text: 'Araucária'},
                        { id: 2, text: 'Laranjeira'}                        
                    ],
                    carros: [
                        {id: 0, text: 'fox'},
                        {id: 1, text: 'ka'},
                        {id: 2, text: 'saveiro'}
                    ]
                }
            },
            components: {
                TodoItem
            }
        }
       
        const ComponenteListaPessoas = {
            props: ['todo'], // atributo personalizado da tag.... ?? qual o nome?
            template: `<li>{{ todo.id }}, {{ todo.nome }}, {{ todo.email }}</li>`
        }

        // APP 2
        const AppListaPessoas = {
            data() {
                return {
                    pessoas: [
                        {id: 0, nome: 'Maria', email: 'ma@gmail.com'},
                        {id: 1, nome: 'João', email : 'jo@gmail.com'},
                        {id: 2, nome: 'Teresa', email : 'te@gmail.com'}
                    ]
                }
            },
            components: {
                // remember the name of the tag will be
                // componente-lista-pessoas   :-O   ;-p
                ComponenteListaPessoas
            }
        }

        // APP 1 intantiating
        const app = Vue.createApp(TodoList)
        app.mount('#todo-list-app')
        
        // APP 1 intantiating again
        const app2 = Vue.createApp(TodoList)
        app2.mount('#lista-de-carros')
        
        // APP 2 intantiating
        const app3 = Vue.createApp(AppListaPessoas)
        app3.mount('#lista-de-pessoas')
        
    </script>

</body>

</html>

<!-- 

referência:
https://vuejsbr-docs-next.netlify.app/guide/introduction.html#composicao-com-componentes

-->