<div id="app">{{ message }}</div>

<script type="module">
  import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

  createApp({
    data() {
      return {
        message: 'Hello Vue!'
      }
    }
  }).mount('#app')
</script>

<!-- 
    referência:
    file:///home/friend/02-gitlab/prog23/web/vue/v3/12-basico-v3.html
-->