<!-- usando o novo componente -->
<div id="app"></div>

<script type="module">
  import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
  
  import MyComponent from './13-basico-v3.js'

  createApp(MyComponent).mount('#app')
</script>

<!--

referência:
https://vuejs.org/guide/quick-start.html#splitting-up-the-modules

SÓ FUNCIONA SERVINDO O ARQUIVO HTTP, PROTOCOLO FILE NÃO FUNCIONA

-->