<div id="app">
    <button @click="count++">
        Count is: {{ count }}
    </button>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script>
    
    Vue.createApp({
        data() {
            return {
                count: 0
            }
        }
    }).mount('#app')

</script>

<!--
    referência:
    https://vuejs.org/guide/introduction.html#what-is-vue
-->