<script setup>
import ListagemDePessoas from './components/ListagemDePessoas.vue'
</script>

<template>
    <p>
      <h3>Aplicação de listagem de pessoas</h3>
    </p>
        
    <div class="container">
      <ListagemDePessoas />
    </div>
  
</template>

